
.App {
    width: 100%;
    font-family: serif;
/* height: calc (130px * 6); */

/* border: solid red; */
}

.navBarContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    overflow: hidden;

    justify-content: space-evenly;
    background-color: #052962;
}

    .navBarRow1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 200px;
    }

        .supportMsgBox {
            display: block;
            width: 50%;
/* border: solid  lime; */
        }
    
            .supportText {
                color: #ffe500;
                font-size: 38px;
                font-weight: bolder;
/* border: solid lime; */
            }

            .supportDescription {
                color: white;
                margin-top: -35px;
/* border: solid lime; */
            }

            .actionButton {
                background-color: #ffe500;
                font-size: 18px;
                font-weight: bold;
                color: #052962;
                border: none;
                border-radius: 50px;
                padding: 0 3px 5px 3px;
                margin-right: 10px;
            }

                .inlineArrow {
                    font-size: 24px;
                    font-weight: bolder;
                }

        .logo {
            font-size: 56px;
            width: 250px;
            color: white;
            font-weight: bolder;
            text-align: center;

/* border: solid white; */
        }

    
    .navBarBox {
        display: flex;
        flex-direction: row;
        width: 100%;
/* border: solid yellow; */
    }
        .menuItemBox {
            width: 200px;
            height: 70px;
            padding-left: 10px;
            border: solid 1px #506991;
        }
            .menuItems {
                font-size: 24px;
                font-weight: bold;
                color: white;
                text-decoration: none;
            }



/**********************************News section and card styling********************************/

.NewsSectionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
border: solid brown;
    /* display: grid;
    grid-template-columns: 140px repeat(auto-fill, minmax(220px, 1fr)); 

    grid-gap: 20px; */
}

.LeftColContainer {
    min-width: 140px;           /***** left column take 60*2 + 20 (140) px *****/
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;

/* border: solid hotpink; */
}

    .NewsContainer {
        display: flex;
        flex-direction: column;

    }

        .FocusContainer {
            display: grid;
            grid-template-columns: minmax(calc(220px * 3), 3fr) repeat(auto-fill, minmax(220px, 1fr)); /* each card is 60*3 + 20*2 (220) px wide */

            grid-gap: 20px;

            width: 100%;
            height: auto;

        }
            /***** A large focus card has 4 news items. The first has an image and is in the major row. The rest are in the minor row *****/
            .largeFocusCardContainer {
                min-width:  calc(220px * 3);
                height: calc(125px * 3);
                overflow: hidden;

                /* display: flex;
                flex-direction: row; */

                /* each card is 60*3 + 20*2 (220) px wide */
                display: grid;
                grid-template-columns: minmax(calc(220px * 1), 1fr) minmax(calc(220px * 2), 2fr); 
                grid-template-rows: minmax(calc(120px * 2), 2fr) minmax(calc(120px * 1), 1fr);

                grid-gap: 20px;

                background-color: #c70000;
            }
                .largeFocusCardMajorHeadlineBox {
                    grid-column: 1/2;

                    /* width: 33%;
                    height: 67%; */
                    font-size: 18px;
                    color: white;
    /* border: solid hotpink; */
                }
                .largeFocusCardImgBox {
                    grid-column: 2/4;

                    /* width: 67%;
                    height: 67%; */
                    max-width: 100%;
                    overflow: hidden;
    /* border: solid lime; */
                }
                    .largeFocusCardImg {
                        width: 100%;
                        height: 100%;
    /* border: solid lightblue; */
                    }

                .largeFocusCardMinorHeadlineBox {
                    grid-column: 1/4;
                    grid-row: 2/3;

                    
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(calc(220px * 1), 1fr));
                    grid-gap: 20px;

                    /* display: flex;
                    flex-direction: row;
                    justify-content: space-evenly; */
                    
                    margin-top: -5px;
                }
                    .largeFocusCardHeadlineBox {

                        display: block;
                        width: auto;
                        height: 100%;
                        padding: 0 10px 0 5px; /* top right buttom left */
                        font-size: 14px;
                        color: white;
        /* border: solid pink; */
                    }


            /***** A small focus card has 2 news items. The first has an image. The second is has only a single news title *****/
            .smallFocusCardContainer {
                width: auto; 
                height: calc(120px * 3);

                display: block;

            }
                .smallFocusCardImgBox {
                    width: 100%;
                    height: 33%;
                    overflow: hidden;
/* border: solid green; */
                }
                    .smallFocusCardImg {
                        width: 100%;
/* border: solid salmon; */
                    }

                .smallFocusCardHeadlineBox {
                    width: 100%;
                    height: 33%;
                    font-size: 14px;
                    color: black;
/* border: solid pink; */
                }


            .ArticlesContainer {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* each card is 60*3 + 20*2 (220) px wide */
    
                grid-gap: 20px;
    
                width: 100%;
            }
                    
        
            /***** A medium card has an image and a title of a single news item *****/
            .mediumCardContainer {
                width: auto; 
                height: calc(120px * 2);

                display: block;
                
/* border: solid blueviolet; */
            }

                .newsItemLine {
                    width: 100%;
                    margin: 0 0 auto;

                    border: 0;
                    border-top: 1px solid #ff4e36;
                    border-bottom: 1px solid white;
                }

                .mediumCardImgBox {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
/* border: solid lime; */
                }
                    .mediumCardImg {
                        width: 100%;
            /* border: solid salmon; */
                    }
                .mediumCardHeadlineBox {
                    width: 100%;
                    height: 50%;
                    font-size: 14px;
                    color: black;
            /* border: solid pink; */
                }


            /***** A Small card has up to 2 titles of 2 news items *****/
            .smallCardContainer {
                width: auto; 
                height: calc(120px * 2);

                
                display: block;

            /* border:solid  deepskyblue; */
            }
                .smallCardHeadlineBox {
                    margin-top: 0px;
                    width: 100%;
                    height: 50%;
                    font-size: 14px;
                    color: black;
            /* border: solid pink; */
                }



